{% extends 'base.html' %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}


{% block content %}
    <head>
		<link href="{% static 'tracker/css/screen.css' %}" rel="stylesheet" media="screen">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<style = "text/css">
			table {
			  width: 85%;
			}
		</style>
    </head>

		    <form action="" method="get">

				<div class="container">
				  <div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Filter
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
					  <li class="dropdown-header">Filter by fields</li>
					  <li><a>{% crispy filter.form filter.helper %}</a></li>
					  <li class="divider"></li>
					</ul>
				  </div>
				</div>

			</form>
			
			<center>
					{% render_table table %}
					{% for obj in queryset %}
					{% endfor %}
			</center>

{% endblock %}
