<style type="text/css"> .form-style-5 {
    min-height: 100%;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding: 10px 20px 50px 50px;
    background: #f4f7f8;
    margin: 10px auto;
    background: #109177;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
    position: relative;
}

.form-style-5 fieldset {
    width: 500px;
    margin: auto;
    float: right;
    padding: 10px 20px 50px 50px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    margin-bottom: 8px;
	float: left;
    width: 400px;
}
.form-style-5 input[type="text"], .form-style-5 input[type="url"], .form-style-5 input[type="tel"], .form-style-5 input[type="email"], .form-style-5 input[type="password"],
.form-style-5 input[type="number"], .form-style-5 input[placeholder="helptext"], .form-style-5 input[type="search"], .form-style-5 input[type="pmid"], .form-style-5 input[type="url"], .form-style-5 textarea, .form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    height:35px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 35px;
}
.form-style-5 input[type="text"]:focus, .form-style-5 input[placeholder="helptext"]:focus, .form-style-5 input[type="date"]:focus, .form-style-5 input[type="url"]:focus, .form-style-5 input[type="email"]:focus, .form-style-5 input[type="password"]:focus,
.form-style-5 input[type="number"]:focus, .form-style-5 input[type="pmid"]:focus, .form-style-5 input[type="tel"]:focus, .form-style-5 input[type="url"]:focus, .form-style-5 textarea:focus, .form-style-5 select:focus {
    background: #d2d9dd;
}
.form-style-5 select {
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 15px 0px;
}
.form-style-5 input[type="submit"], .form-style-5 input[type="button"] {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #109177;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 500px;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover, .form-style-5 input[type="button"]:hover {
    background: #109177;
}

.form-style-5 span{
  display:none;
}

.footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:60px;
}

</style>

<!-- Tracker style -->
<style>

    <!-- Progress with steps -->

    ol.progtrckr {
        padding: 0;
        list-style-type: none;
        display: table;
        margin: auto 20px auto;
        table-layout: fixed;
        width: 100%;
    }

    ol.progtrckr li {
        display: inline-block;
        text-align: center;
        line-height: 3em;
    }

    ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
    ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
    ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
    ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
    ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
    ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
    ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
    ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

    ol.progtrckr li.progtrckr-done {
        color: black;
        width: 20%;
        border-bottom: 4px solid yellowgreen;
        margin-right: -5px;
        margin-left: -5px;
    }

    ol.progtrckr li.progtrckr-todo {
        color: silver;
        width: 20%;
        border-bottom: 4px solid silver;
        margin-right: -5px;
        margin-left: -5px;
    }

    ol.progtrckr li:after {
        content: "\00a0\00a0";
    }
    ol.progtrckr li:before {
        position: relative;
        bottom: -2.5em;
        float: left;
        left: 45%;
    }
    ol.progtrckr li.progtrckr-done:before {
        content: "\2713";
        color: white;
        background-color: yellowgreen;
        height: 1.2em;
        width: 1.2em;
        line-height: 1.2em;
        border: none;
        border-radius: 1.2em;
    }
    ol.progtrckr li.progtrckr-todo:before {
        content: "\039F";
        color: silver;
        background-color: #FFFFFF;
        opacity: 0;
        font-size: 1.0em;
        bottom: -1.6em;

    }

	.box {
		<!-- background-color: #D8F1D3; -->
    background-color: #FFFFFF;
		width: 85%;
		text-align: left;
    border-style: solid;
    border-color:  #85ce85 #85ce85 #85ce85 #85ce85;
		margin-bottom: 10px;
		padding-bottom: 8px;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 8px;
	}

	.box_header_mortar {
		background-color: #D8F1D3;
		width: 85%;
		text-align: left;
		padding-bottom: 8px;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 8px;
	}

	.box_header_halves {
		background-color: #BBE2BC;
		width: 85%;
		text-align: left;
		padding-bottom: 8px;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 8px;
	}

	.box_header_minty {
		background-color: #BAD696;
		width: 85%;
		text-align: left;
		padding-bottom: 8px;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 8px;
	}

	.box_header_fresh {
		background-color: #85ce85;
		width: 85%;
		text-align: left;
    border-style: solid;
    border-color: #85ce85 #85ce85 #85ce85 #85ce85;
		padding-bottom: 8px;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 8px;
	}

  .box_header_spider {
    background-color: #FFFFFF;
    width: 85%;
    text-align: left;
    color: #8b7355
    border-style: solid;
    border-color: #8b7355;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
  }

  .li-icon {
      float:right !important;
  }
</style>
