{% load staticfiles %}

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="{% static 'tracker/css/bootstrap-combined.min.css' %}" rel="stylesheet">
		<link href="{% static 'tracker/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		<!-- Styling -->
		<link href="{% static 'tracker/css/style.css' %}" rel="stylesheet">

	</head>

  <body>
	<nav class="navbar navbar-light" style="background-color: #109177; font-size: 1.4em; color:#ffffff;">
		<div class="container-fluid">
			<div class="navbar-header">
				  <ul class="nav navbar-nav">
				  <li class="nav-item">
						<a class="nav-link" href="/tracker/tracker/">Data Tracker</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/tracker/table/">Table</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/tracker/stats/">Statistics</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/tracker/request/">Request</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/tracker/manage/">Manage</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/tracker/about/">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/tracker/logout/">Logout</a>
					</li>
					</ul>
			<!-- /.navbar-collapse -->
			</div>
		<!-- /.container-fluid -->
		</div>
	</nav>

	{% block content %}
    {% endblock %}

  </body>

  <footer>
	<center>
    <div class="footer">
        Data Tracker for cBioPortal 2015
    </div>
	</center>
  </footer>

</html>
