{% extends base %}

{% block content %}
<div class="form-style-5">
    <form method="POST" class="post-form">{% csrf_token %}
	     <fieldset> <div class="field-style-vert"> {{ form }} </div>
	 <!-- Manually Generated Form

        <fieldset>
            <legend><span class="number">1</span>Contact Information</legend>
                <div class="field-style-vert"><label>Requester Name
                    <input type="text" name="requester_name" required>
                </label></div>
                <div class="field-style-vert"><label>Phone
                    <input type="tel" name="phone_number" required>
                </label></div>

                <div class="field-style-vert"><label>Email
                    <input type="email" name="email_address" required>
                </label></div>

        </fieldset>
        <fieldset>
            <legend><span class="number">2</span>Data Request Information</legend>

                <div class="field-style-vert"><label>Accession
                    <input type="text" name="accession">
                </label></div>


                <div class="field-style-vert"><label>Study Name
                    <input type="text" name="study_name" required>
                </label></div>


                <div class="field-style-vert"><label>Source
                    <input type="text" name="source">
                </label></div>


                <div class="field-style-vert"><label>Link
                    <input type="url" name="link" required>
                </label></div>


                <div class="field-style-vert"><label>Number of Samples
                    <input type="number" name="samples">
                </label></div>


                <div class="field-style-vert"><label>Tissue
                    <input type="text" name="tissue">
                </label></div>


                <div class="field-style-vert"><label>Adult or Pediatric
                    <select>
                        <optgroup label="Adult or Pediatric">
                            <option>Unknown</option>
                            <option>Adult</option>
                            <option>Pediatric</option>
                        </optgroup>
                    </select>
                </label></div>


                <div class="field-style-vert"><label>Citation
                    <input type="pmid" name="citation">
                </label></div>


                <div class="field-style-vert"><label>Details
                    <input type="text" name="study_details">
                </label></div>


                <div class="field-style-vert"><label>Access
                    <select>
                        <optgroup label="Access">
                            <option>Restricted</option>
                            <option>Open</option>
                        </optgroup>
                    </select>
                </label></div>


                <div class="field-style-vert"><label>Priority
                    <select>
                        <optgroup label="Priority">
                            <option>None</option>
                            <option>Not to be added</option>
                            <option>Low</option>
                            <option>Medium</option>
                            <option>High</option>
                        </optgroup>
                    </select>
                </label></div>

        </fieldset>

	-->

       <input type="submit" value="Submit" /> </fieldset>
    </form>
</div>
{% endblock %}
