{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <head>
		<link href="{% static 'tracker/css/screen.css' %}" rel="stylesheet" media="screen">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    </head>

		    <form action="" method="get">
				<!-- Filtering for tables used to go here -->
			</form>
			
			<center>
				<!-- Summary statistics goes here -->
					<p> Total studies: {{ total }} </p>
					<p> Number of datasets available in cBioPortal: {{ available }} </p>
					<p> Number of data requests in progress: {{ enroute }}</p>
					<p> Number of datasets with associated ciations: {{ citations }}
				<!-- Chart -->
				{% block extrahead %}
					<!-- Load in HighCharts -->
					
					<script src="https://code.highcharts.com/highcharts.js"></script>
					
				{% endblock %}

				{% block heading %}
					<h3 align="center">Summary of data requests</h3>
				{% endblock %}
						<div id={{ chartID|safe }} style="height:100px; width:50%">{{ chartID|safe }}</div>
						<div id="container" style="height:300px; width:30%"></div>
						<div id="cap" style="height: 300px"></div>
			</center>

{% block overwrite %}
<!-- Overwrite the base.html jQuery load and put in head for Highcharts to work -->
{% endblock %}

{% block extrajs %}
<!-- Maps the Python template context variables from views.py to the Highchart js variables -->
<script>
    var chart_id = {{ chartID|safe }}
    var chart = {{ chart|safe }}
    var title = {{ title|safe }}
    var xAxis = {{ xAxis|safe }}
    var yAxis = {{ yAxis|safe }}
	var plotOptions = {{ plotOptions|safe }}
    var series = {{ series|safe }}
</script>
<!-- Highchart js. Variable map shown above -->
<script>
$(document).ready(function() {
    $(chart_id).highcharts({
        chart: chart,
        title: title,
        xAxis: xAxis,
        yAxis: yAxis,
		plotOptions: plotOptions,
		config: config,
        series: series,
    });
});
</script>




{% endblock %}
{% endblock %}