{% extends base %}
{% load staticfiles %}

{% block content %}
{% block extrahead %}
    <!-- Load in jQuery and HighCharts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <!-- Load in style sheets -->
    <link href="{% static 'tracker/css/tracker.css' %}" rel="stylesheet">
    <link href="{% static 'tracker/css/tabbed.css' %}" rel="stylesheet">
{% endblock %}

	<center>
    <div class="tabbed">
      <input name="tabbed" id="tabbed0" type="radio" checked>
      <section>
        <h1>
          <label for="tabbed0">Your Requests</label>
        </h1>
        <div>
        <!--Queryset of TrackerIDs for this user-->
        <!-- Display by groups in case the user belongs to multiple groups -->
        <center>
        <br/>
        {% for obj in objects %}
          {% if obj.trackerID == 5 %}

              <div class= "box_header_spider">
                <a href={{obj.link}}><b>{{ obj.study_name }}</b></a>
                {% if obj.L1 == '1' %}
                <p class = "li-icon">
                  <span class="glyphicon glyphicons-log-book">Contains L1 data</span>
                </p><br/>
                {% endif %}
              </div>
              <div class= "box">
                <ol class="progtrckr" data-progtrckr-steps="5">
                  <li class="progtrckr-done">Request Received</li>
                  <li class="progtrckr-done">Data Downloaded</li>
                  <li class="progtrckr-done">Data in Staging</li>
                  <li class="progtrckr-done">Data in (S3) Cavatica</li>
                  <li class="progtrckr-done">Available in Cavatica</li>
                </ol>
              </div>
          {% elif obj.trackerID == 4 %}
              <div class= "box_header_mortar">
                <a href={{obj.link}}><b>{{ obj.study_name }}</b></a>
                <a href={{obj.cbio_link}} class = "li-icon">
                  <span class="glyphicon glyphicon-share-alt"></span>
                </a><br/>
              </div>
              <div class= "box">
                <ol class="progtrckr" data-progtrckr-steps="5">
                  <li class="progtrckr-done">Request Received</li>
                  <li class="progtrckr-done">Data Downloaded</li>
                  <li class="progtrckr-done">Data in Staging</li>
                  <li class="progtrckr-done">Data in Database</li>
                  <li class="progtrckr-done">Available in cBioPortal</li>
                </ol>
              </div>

          {% elif obj.trackerID == 3 %}
            <div class= "box_header_fresh">
        		    <a href={{obj.link}}><b>{{ obj.study_name }}</b></a>
        	  </div>
        	<div class= "box">
        		<ol class="progtrckr" data-progtrckr-steps="5">
        			<li class="progtrckr-done">Request Received</li>
        			<li class="progtrckr-done">Data Downloaded</li>
        			<li class="progtrckr-done">Data in Staging</li>
        			<li class="progtrckr-done">Data in S3/Database</li>
        			<li class="progtrckr-todo">Available</li>
        	</div>
        	{% elif obj.trackerID == 2 %}
        	<div class= "box_header_minty">
        		<a href={{obj.link}}><b>{{ obj.study_name }}</b></a>
        	</div>
        	<div class= "box">
        	<ol class="progtrckr" data-progtrckr-steps="5">
        		<li class="progtrckr-done">Request Received</li>
        		<li class="progtrckr-done">Data Downloaded</li>
        		<li class="progtrckr-done">Data in Staging</li>
            <li class="progtrckr-todo">Data in S3/Database</li>
        		<li class="progtrckr-todo">Available</li>
        		<a href={{obj.link}}><b>{{ obj.study_name }}</b></a>
        		<a href={{obj.link}} align="right"></a><br/>
        	</div>
        	</ol>

        	{% elif obj.trackerID == 1 %}
        	<div class= "box_header_halves">
        		<a href={{obj.link}}><b>{{ obj.study_name }}</b></a>
        	</div>
        	<div class= "box">
        	<ol class="progtrckr" data-progtrckr-steps="5">
        		<li class="progtrckr-done">Request Received</li>
        		<li class="progtrckr-done">Data Downloaded</li>
        		<li class="progtrckr-todo">Data in Staging</li>
        		<li class="progtrckr-todo">Data in S3/Database</li>
        		<li class="progtrckr-todo">Available</li>
        	</ol>
        	</div>
        	{% else %}
        	<div class= "box_header_mortar">
        		<a href={{obj.link}}><b>{{ obj.study_name }}</b></a><br/>
        	</div>
        	<div class= "box">
        	<ol class="progtrckr" data-progtrckr-steps="5">
        		<li class="progtrckr-done">Request Received</li>
        		<li class="progtrckr-todo">Data Downloaded</li>
        		<li class="progtrckr-todo">Data in Staging</li>
        		<li class="progtrckr-todo">Data in S3/Database</li>
        		<li class="progtrckr-todo">Available</li>
        	</ol>
        	</div>

        	{% endif %}
        {% endfor %}
        </center>
      </div>
      </section>
      <input name="tabbed" id="tabbed1" type="radio">
      <section>
        <h1>
          <label for="tabbed1">Sharing</label>
        </h1>
        <div>
        <!-- Content for group creation, inviting users to a group here, joining a group-->

          <!-- Container -->
          <div id="container" align="left">

              <!-- Content
              <div id="content" class="colM">

                  <h1>Add tracker group</h1>
                  <div id="content-main">



          <form enctype="multipart/form-data" action="" method="post" id="trackergroup_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='hMfPM7k6NFlbZNgqU0nOVGS4cOXabkFg' />
          <div>



            <fieldset class="module aligned ">



                  <div class="form-row field-group">


                          <div>


                                  <label class="required" for="id_group">Group:</label>


          <div class="related-widget-wrapper">
              <select id="id_group" name="group">
          <option value="" selected="selected">---------</option>
          <option value="11">Anna only group</option>
          <option value="2">available</option>
          <option value="8">CBTTC</option>
          <option value="6">monthly</option>
          <option value="7">PNOC</option>
          <option value="10">PUBLIC</option>
          <option value="3">steps</option>
          <option value="9">SU2C</option>
          <option value="4">unsubscribers</option>
          <option value="5">weekly</option>
          </select>


                  <a class="related-widget-wrapper-link change-related" id="change_id_group"
                      data-href-template="/admin/auth/group/__fk__/change/?_to_field=id&amp;_popup=1"
                      title="Change selected group">
                      <img src="/static/admin/img/icon-changelink.svg" alt="Change"/>
                  </a>


                  <a class="related-widget-wrapper-link add-related" id="add_id_group"
                      href="/admin/auth/group/add/?_to_field=id&amp;_popup=1"
                      title="Add another group">
                      <img src="/static/admin/img/icon-addlink.svg" alt="Add"/>
                  </a>



          </div>




                          </div>

                  </div>

                  <div class="form-row field-users">


                          <div>


                                  <label class="required" for="id_users">Users:</label>


          <div class="related-widget-wrapper">
              <select multiple="multiple" id="id_users" name="users">
          <option value="1">admin</option>
          <option value="2">Anna</option>
          <option value="20">anna.lu127@gmail.com</option>
          <option value="12">lua2@email.chop.edu</option>
          </select>



                  <a class="related-widget-wrapper-link add-related" id="add_id_users"
                      href="/admin/auth/user/add/?_to_field=id&amp;_popup=1"
                      title="Add another user">
                      <img src="/static/admin/img/icon-addlink.svg" alt="Add"/>
                  </a>



          </div>




                                  <p class="help">Hold down "Control", or "Command" on a Mac, to select more than one.</p>

                          </div>

                  </div>

                  <div class="form-row field-description">


                          <div>


                                  <label for="id_description">Description:</label>

                                      <input class="vTextField" id="id_description" maxlength="500" name="description" type="text" />



                          </div>

                  </div>

                  <div class="form-row field-access_link">


                          <div>


                                  <label for="id_access_link">Access link:</label>

                                      <input class="vURLField" id="id_access_link" maxlength="3000" name="access_link" type="url" />



                          </div>

                  </div>

          </fieldset>













          <div class="submit-row">
          <input type="submit" value="Save" class="default" name="_save" />


          <input type="submit" value="Save and add another" name="_addanother" />
          <input type="submit" value="Save and continue editing" name="_continue" />
          </div>



              <script type="text/javascript">
                  (function($) {
                      $(document).ready(function() {
                          $('.add-another').click(function(e) {
                              e.preventDefault();
                              var event = $.Event('django:add-another-related');
                              $(this).trigger(event);
                              if (!event.isDefaultPrevented()) {
                                  showAddAnotherPopup(this);
                              }
                          });
                          $('.related-lookup').click(function(e) {
                              e.preventDefault();
                              var event = $.Event('django:lookup-related');
                              $(this).trigger(event);
                              if (!event.isDefaultPrevented()) {
                                  showRelatedObjectLookupPopup(this);
                              }
                          });


                          $('form#trackergroup_form :input:visible:enabled:first').focus()

                      });
                  })(django.jQuery);
              </script>




          <script type="text/javascript">
          (function($) {
              var field;


          })(django.jQuery);
          </script>


          </div>
          </form></div>


                  <br class="clear" />
              </div>
               END Content -->

              <div id="footer"></div>
          </div>
          <!-- END Container -->
        <p> Create a group <p>
        <p> Invite others to a group <p>
        <p> Request to join another group <p>
        </div>
      </section>
      <input name="tabbed" id="tabbed2" type="radio">
      <section>
        <h1>
          <label for="tabbed2">Data Management</label>
        </h1>
        <div>
        <!-- Settings for your data, set group access levels: private, view only, use only, public -->
        <p> Set group access permissions here <p>
        <p> Private to me <p>
        <p> View only <p>
        <p> Accessible to a group or multiple groups <p>
        <p> Allow another user to admin this data <p>
        <p> Make this data public to anyone <p>
        </div>
      </section>
  </div>
	</center>

{% block overwrite %}
<!-- Overwrite the base.html jQuery load and put in head for Highcharts to work -->
{% endblock %}

<style>
.tabbed > input{
  display : none;
}

.tabbed > input:first-child + section > h1{
  padding-left : 1em;
}

.tabbed > input:not(:checked) + section > div{
  display : none;
}

.tabbed > input:checked + section > h1{
  position : relative;
  z-index  : 2;
}

.tabbed > section > h1{
  float : left;
  box-sizing  : border-box;
  margin      : 0;
  padding     : 0.5em 0.5em 0;
  overflow    : hidden;
  font-size   : 1em;
  font-weight : normal;
}

.tabbed > section > div{
  float  : right;
  width  : 100%;
  margin : 2.5em 0 0 -100%;
  box-sizing    : border-box;
  padding       : 0.5em 0.75em;
  border        : 1px solid #ddd;
  border-radius : 4px;
  box-shadow    : 0 0 0.5em rgba(0,0,0,0.0625);
  background    : #fff;
  position : relative;
  z-index  : 1;
}

.tabbed{
  float : left;
  width : 100%;
}

.tabbed > section > h1 > label{
  display                 : block;
  padding                 : 0.25em 0.75em;
  border                  : 1px solid #ddd;
  border-bottom           : none;
  border-top-left-radius  : 4px;
  border-top-right-radius : 4px;
  box-shadow              : 0 0 0.5em rgba(0,0,0,0.0625);
  background              : #fff;
}
</style>


{% endblock %}
